#siteTitle{
    text-align: center;
    color: rgb(92, 92, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 3vw;
}

#siteTitleDiv{
    border: 0.5vw solid rgb(161, 161, 161);
    border-radius: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: white;
    box-shadow: 10px 10px 25px;
}

#siteTitleForm{
    display: flex;
    justify-content: center;
    z-index: 4;
}

#link-text{
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 2.5vw;
}



#lore-Link{
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    padding-left: 0.5vw;
    padding-right: 0.7vw;
    border: 0.3vw solid gray;
    border-radius: 10px;
    color: rgb(66, 66, 66);
    background-color: white;
    text-decoration: none;
    box-shadow: 3px 3px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 2.5vw;
}

#info-div{
    background-color: rgb(58, 58, 58, 0.8);
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 20px;
}

#info-div-form{
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
    top: 12vw;
}

#olimpia-img{
    position: absolute;
    right: 1vw;
    border: 0.4vw solid white;
    border-radius: 18px;
    box-shadow: 3px 3px 20px;
    z-index: 2;
    width: 20vw;
    height: auto;
}

#background-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

#side-menu-div{
    position: absolute;
    width: 20vw;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: white;
    transition: 0.5s;
    transform: translateX(-100%);
}

#menu-btn{
    float: right;
    border: 0.3vw solid rgb(184, 184, 184);
    border-radius: 15px;
    background-color: rgb(128, 128, 128);
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1vw;
    font-size: 1.3vw;
    z-index: 1;
}

#menu-btn2{
    border: 0.3vw solid rgb(184, 184, 184);
    border-radius: 15px;
    background-color: rgb(128, 128, 128);
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1vw;
    font-size: 1.3vw;
}









body{
    background-color: rgb(154, 252, 255);
}







#push-me-btn:hover{
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 10px 10px 20px;
}
#push-me-btn:not(:hover){
    transition: 0.4s;
    transform: scale(1);
    box-shadow: 5px 5px 20px;
}

#olimpia-img:hover{
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 15px 15px 20px;
}
#olimpia-img:not(:hover){
    transition: 0.4s;
    transform: scale(1);
    box-shadow: 3px 3px 20px;
}

#lore-Link:hover{
    transition: 0.3s;
    transform: scale(1.2);
}
#lore-Link:not(:hover){
    transition: 0.3s;
    transform: scale(1);
}