#siteTitle{
    text-align: center;
    color: rgb(92, 92, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

#siteTitleDiv{
    border: 5px solid rgb(161, 161, 161);
    border-radius: 15px;
    width: 20vw;
    background-color: white;
    box-shadow: 10px 10px 25px;
}

#siteTitleForm{
    display: flex;
    justify-content: center;
}

#link-text{
    color: rgb(73, 73, 73);
    font-size: 1.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#loreLink{
    padding: 3px;
    width: 20vw;
    border: 3px solid gray;
    border-radius: 10px;
    color: rgb(66, 66, 66);
    background-color: white;
    text-decoration: none;
    box-shadow: 3px 3px 10px;
}

#loreLink:hover{
    transition: 0.3s;
    transform: scale(1.02);
}

img{
    border: 4px solid white;
    border-radius: 18px;
    box-shadow: 3px 3px 20px;
}

img:hover{
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 15px 15px 20px;
}

img:not(:hover){
    transition: 0.4s;
    transform: scale(1);
    box-shadow: 3px 3px 20px;
}