img{
    border: 4px solid white;
    border-radius: 18px;
    box-shadow: 3px 3px 20px;
}

img:hover{
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 15px 15px 20px;
}

img:not(:hover){
    transition: 0.4s;
    transform: scale(1);
    box-shadow: 3px 3px 20px;
}