#siteTitle{
    text-align: center;
    color: rgb(92, 92, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

#siteTitleDiv{
    border: 5px solid rgb(161, 161, 161);
    border-radius: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: white;
    box-shadow: 10px 10px 25px;
}

#siteTitleForm{
    display: flex;
    justify-content: center;
}

#link-text{
    color: rgb(73, 73, 73);
    font-size: 1.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

#push-me-btn{
    border: 3px solid rgb(161, 161, 161);
    border-radius: 10px;
    box-shadow: 5px 5px 20px;
    color: rgb(92, 92, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 5vh;
}

#loreLink{
    padding: 3px;
    padding-left: 1vw;
    padding-right: 1vw;
    border: 3px solid gray;
    border-radius: 10px;
    color: rgb(66, 66, 66);
    background-color: white;
    text-decoration: none;
    box-shadow: 3px 3px 10px;
}

#background-img{
    position: absolute;
    
}






body{
    background-color: rgb(154, 252, 255);
}



#olimpia-img{
    border: 4px solid white;
    border-radius: 18px;
    box-shadow: 3px 3px 20px;
}







#push-me-btn:hover{
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 10px 10px 20px;
}

#push-me-btn:not(:hover){
    transition: 0.4s;
    transform: scale(1);
    box-shadow: 5px 5px 20px;
}

#olimpia-img:hover{
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 15px 15px 20px;
}

#olimpia-img:not(:hover){
    transition: 0.4s;
    transform: scale(1);
    box-shadow: 3px 3px 20px;
}