#siteTitle{
    text-align: center;
    color: rgb(68, 68, 68);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

#siteTitleDiv{
    border: 5px solid rgb(161, 161, 161);
    border-radius: 15px;
    width: 20vw;
    background-color: white;
    box-shadow: 10px 10px 25px;
}

#siteTitleForm{
    display: flex;
    justify-content: center;
}

img{
    border: 4px solid white;
    border-radius: 18px;
    box-shadow: 3px 3px 20px;
}

img:hover{
    transition: 0.4s;
    transform: scale(1.03);
    box-shadow: 15px 15px 20px;
}

img:not(:hover){
    transition: 0.4s;
    transform: scale(1);
    box-shadow: 3px 3px 20px;
}